{% extends "@templateRoot/layout/layout_site.html.twig" %}

{% import _self as macro %}

{% block headerContainer %}
    <header class="mdc-top-app-bar">
        <div class="mdc-top-app-bar__row">
            <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
                <a class="material-icons mdc-top-app-bar__navigation-icon menu_root_mobile display_mobile" href="#">menu</a>
                <div class="display_desktop">
                    <img class="logo_main_big" src="{{asset("images/templates/" ~ settingRow['template'] ~ "/logo.svg")}}" alt="logo.svg"/>
                    <svg class="mdc-top-app-bar__title logo_text_main_big"><text class="style" x="4" y="22">{{websiteName}}</text></svg>
                </div>
            </section>
            <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end" role="toolbar">
                {{-render(controller("App\\Controller\\SearchController::moduleAction", {'_locale': urlLocale, 'urlCurrentPageId': urlCurrentPageId, 'urlExtra': urlExtra}))-}}
                {{-render(controller("App\\Controller\\LanguageController::textAction", {'_locale': urlLocale, 'urlCurrentPageId': urlCurrentPageId, 'urlExtra': urlExtra}))-}}
                {{-include("@templateRoot/include/menu_user.html.twig")-}}
            </section>
        </div>
        <aside class="mdc-drawer mdc-drawer--temporary mdc-typography cp_menu">
            <nav class="mdc-drawer__drawer">
                <header class="mdc-drawer__header">
                    <div class="mdc-drawer__header-content">
                        <img class="logo_main_big" src="{{asset("images/templates/" ~ settingRow['template'] ~ "/logo.svg")}}" alt="logo.svg"/>
                        <span>{{websiteName}}</span>
                    </div>
                </header>
                <nav class="mdc-drawer__content mdc-list">
                    {{macro.menuControlPanel(urlLocale)}}
                </nav>
            </nav>
        </aside>
    </header>
{% endblock %}

{% block columnLeftContainer %}
    {% if app.user %}
        <div class="sortable_column">
            <nav class="mdc-drawer mdc-drawer--permanent mdc-typography cp_menu">
                <div class="mdc-drawer__content">
                    <nav class="mdc-list">
                        {{macro.menuControlPanel(urlLocale)}}
                    </nav>
                </div>
            </nav>
        </div>
    {% endif %}
{% endblock %}

{% block columnCenterContainer %}
    {% if app.user %}
        <div class="sortable_column user_select_text">
            {% if urlExtra == "" or urlExtra == "cp_sytem_info" %}
                {% if is_granted("ROLE_ADMIN") == true or is_granted("ROLE_MODERATOR") == true %}
                    <ul class="mdc-list mdc-list--two-line mdc-list--avatar-list cp_system_info">
                        {% for key, value in response.output.phpinfo %}
                            <li class="mdc-list-item">
                                <span class="mdc-list-item__graphic material-icons">info</span>
                                <span class="mdc-list-item__text">
                                    {{key}}
                                    <span class="mdc-list-item__secondary-text">
                                        {% for keySub, valueSub in value %}
                                            {% if valueSub is not iterable %}
                                                {{keySub}}: {{valueSub}}<br>
                                            {% endif %}
                                        {% endfor %}
                                    </span>
                                </span>
                            </li>
                            <li role="separator" class="mdc-list-divider"></li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% elseif urlExtra == "cp_payment" %}
                {% if is_granted("ROLE_ADMIN") == true or is_granted("ROLE_MODERATOR") == true %}
                    <p>{% trans %}controlPanelPayment_1{% endtrans %}</p>

                    {{-render(controller("App\\Controller\\ControlPanel\\PaymentController::selectAction", {'_locale': urlLocale, 'urlCurrentPageId': urlCurrentPageId, 'urlExtra': urlExtra}))-}}
                {% endif %}
            {% elseif urlExtra == "cp_page" or urlExtra == "cp_page_create" or urlExtra == "cp_page_select" %}
                {% if is_granted("ROLE_ADMIN") == true or is_granted("ROLE_MODERATOR") == true %}
                    <p>{% trans %}controlPanelPage_1{% endtrans %}</p>
                    <div class="cp_section_button">
                        <a class="mdc-button mdc-button--dense mdc-button--raised" href="{{path("control_panel", {'_locale': urlLocale, 'urlCurrentPageId': 0, 'urlExtra': "cp_page_create"})}}" type="button">{% trans %}controlPanel_1{% endtrans %}</a>
                        <a class="mdc-button mdc-button--dense mdc-button--raised" href="{{path("control_panel", {'_locale': urlLocale, 'urlCurrentPageId': 0, 'urlExtra': "cp_page_select"})}}" type="button">{% trans %}controlPanel_2{% endtrans %}</a>
                    </div>

                    {% if urlExtra == "cp_page_create" %}
                        {{-render(controller("App\\Controller\\ControlPanel\\PageController::createAction", {'_locale': urlLocale, 'urlCurrentPageId': urlCurrentPageId, 'urlExtra': urlExtra}))-}}
                    {% elseif urlExtra == "cp_page_select" %}
                        {{-render(controller("App\\Controller\\ControlPanel\\PageController::selectAction", {'_locale': urlLocale, 'urlCurrentPageId': urlCurrentPageId, 'urlExtra': urlExtra}))-}}
                    {% endif %}
                {% endif %}
            {% elseif urlExtra == "cp_user" or urlExtra == "cp_user_create" or urlExtra == "cp_user_select" %}
                {% if is_granted("ROLE_ADMIN") == true or is_granted("ROLE_MODERATOR") == true %}
                    <p>{% trans %}controlPanelUser_1{% endtrans %}</p>
                    <div class="cp_section_button">
                        <a class="mdc-button mdc-button--dense mdc-button--raised" href="{{path("control_panel", {'_locale': urlLocale, 'urlCurrentPageId': 0, 'urlExtra': "cp_user_create"})}}" type="button">{% trans %}controlPanel_1{% endtrans %}</a>
                        <a class="mdc-button mdc-button--dense mdc-button--raised" href="{{path("control_panel", {'_locale': urlLocale, 'urlCurrentPageId': 0, 'urlExtra': "cp_user_select"})}}" type="button">{% trans %}controlPanel_2{% endtrans %}</a>
                    </div>

                    {% if urlExtra == "cp_user_create" %}
                        {{-render(controller("App\\Controller\\ControlPanel\\UserController::createAction", {'_locale': urlLocale, 'urlCurrentPageId': urlCurrentPageId, 'urlExtra': urlExtra}))-}}
                    {% elseif urlExtra == "cp_user_select" %}
                        {{-render(controller("App\\Controller\\ControlPanel\\UserController::selectAction", {'_locale': urlLocale, 'urlCurrentPageId': urlCurrentPageId, 'urlExtra': urlExtra}))-}}
                    {% endif %}
                {% endif %}
            {% elseif urlExtra == "cp_module" or urlExtra == "cp_module_create" or urlExtra == "cp_module_select" %}
                {% if is_granted("ROLE_ADMIN") == true or is_granted("ROLE_MODERATOR") == true %}
                    <p>{% trans %}controlPanelModule_1{% endtrans %}</p>
                    <div class="cp_section_button">
                        <a class="mdc-button mdc-button--dense mdc-button--raised" href="{{path("control_panel", {'_locale': urlLocale, 'urlCurrentPageId': 0, 'urlExtra': "cp_module_create"})}}" type="button">{% trans %}controlPanel_1{% endtrans %}</a>
                        <a class="mdc-button mdc-button--dense mdc-button--raised" href="{{path("control_panel", {'_locale': urlLocale, 'urlCurrentPageId': 0, 'urlExtra': "cp_module_select"})}}" type="button">{% trans %}controlPanel_2{% endtrans %}</a>
                    </div>

                    {% if urlExtra == "cp_module_create" %}
                        {{-render(controller("App\\Controller\\ControlPanel\\ModuleController::createAction", {'_locale': urlLocale, 'urlCurrentPageId': urlCurrentPageId, 'urlExtra': urlExtra}))-}}
                    {% elseif urlExtra == "cp_module_select" %}
                        {{-render(controller("App\\Controller\\ControlPanel\\ModuleController::selectAction", {'_locale': urlLocale, 'urlCurrentPageId': urlCurrentPageId, 'urlExtra': urlExtra}))-}}
                    {% endif %}
                {% endif %}
            {% elseif urlExtra == "cp_role" or urlExtra == "cp_role_create" or urlExtra == "cp_role_select" %}
                {% if is_granted("ROLE_ADMIN") == true or is_granted("ROLE_MODERATOR") == true %}
                    <p>{% trans %}controlPanelRole_1{% endtrans %}</p>
                    <div class="cp_section_button">
                        <a class="mdc-button mdc-button--dense mdc-button--raised" href="{{path("control_panel", {'_locale': urlLocale, 'urlCurrentPageId': 0, 'urlExtra': "cp_role_create"})}}">{% trans %}controlPanel_1{% endtrans %}</a>
                        <a class="mdc-button mdc-button--dense mdc-button--raised" href="{{path("control_panel", {'_locale': urlLocale, 'urlCurrentPageId': 0, 'urlExtra': "cp_role_select"})}}">{% trans %}controlPanel_2{% endtrans %}</a>
                    </div>
                    
                    {% if urlExtra == "cp_role_create" %}
                        {{-render(controller("App\\Controller\\ControlPanel\\RoleUserController::createAction", {'_locale': urlLocale, 'urlCurrentPageId': urlCurrentPageId, 'urlExtra': urlExtra}))-}}
                    {% elseif urlExtra == "cp_role_select" %}
                        {{-render(controller("App\\Controller\\ControlPanel\\RoleUserController::selectAction", {'_locale': urlLocale, 'urlCurrentPageId': urlCurrentPageId, 'urlExtra': urlExtra}))-}}
                    {% endif %}
                {% endif %}
            {% elseif urlExtra == "cp_setting" %}
                {% if is_granted("ROLE_ADMIN") == true %}
                    <p>{% trans %}controlPanelSetting_1{% endtrans %}</p>

                    {{-render(controller("App\\Controller\\ControlPanel\\SettingController::saveAction", {'_locale': urlLocale, 'urlCurrentPageId': urlCurrentPageId, 'urlExtra': urlExtra}))-}}
                {% endif %}
            {% elseif urlExtra == "cp_setting_slack_iw" %}
                {% if is_granted("ROLE_ADMIN") == true %}
                    <p>{% trans %}controlPanelSettingSlack_1{% endtrans %}</p>

                    {{-render(controller("App\\Controller\\ControlPanel\\SettingSlackIwController::renderAction", {'_locale': urlLocale, 'urlCurrentPageId': urlCurrentPageId, 'urlExtra': urlExtra}))-}}
                {% endif %}
            {% elseif urlExtra == "cp_setting_line" %}
                {% if is_granted("ROLE_ADMIN") == true %}
                    <p>{% trans %}controlPanelSettingLine_1{% endtrans %}</p>

                    {{-render(controller("App\\Controller\\ControlPanel\\SettingLinePushController::renderAction", {'_locale': urlLocale, 'urlCurrentPageId': urlCurrentPageId, 'urlExtra': urlExtra}))-}}
                {% endif %}
            {% elseif urlExtra == "cp_microservice_deploy" or urlExtra == "cp_microservice_deploy_create" or "cp_microservice_deploy_select" in urlExtra %}
                {% if is_granted("ROLE_ADMIN") == true or is_granted("ROLE_MICROSERVICE") == true %}
                    <p>{% trans %}controlPanelMicroserviceDeploy_1{% endtrans %}</p>
                    <div class="cp_section_button">
                        <a class="mdc-button mdc-button--dense mdc-button--raised" href="{{path("control_panel", {'_locale': urlLocale, 'urlCurrentPageId': 0, 'urlExtra': "cp_microservice_deploy_create"})}}">{% trans %}controlPanel_1{% endtrans %}</a>
                        <a class="mdc-button mdc-button--dense mdc-button--raised" href="{{path("control_panel", {'_locale': urlLocale, 'urlCurrentPageId': 0, 'urlExtra': "cp_microservice_deploy_select"})}}">{% trans %}controlPanel_2{% endtrans %}</a>
                    </div>
                    
                    {% if urlExtra == "cp_microservice_deploy" %}
                        {{-render(controller("App\\Controller\\ControlPanel\\MicroserviceDeployController::renderAction", {'_locale': urlLocale, 'urlCurrentPageId': urlCurrentPageId, 'urlExtra': urlExtra}))-}}
                    {% elseif urlExtra == "cp_microservice_deploy_create" %}
                        {{-render(controller("App\\Controller\\ControlPanel\\MicroserviceDeployController::createAction", {'_locale': urlLocale, 'urlCurrentPageId': urlCurrentPageId, 'urlExtra': urlExtra}))-}}
                    {% elseif urlExtra == "cp_microservice_deploy_select" %}
                        {{-render(controller("App\\Controller\\ControlPanel\\MicroserviceDeployController::selectAction", {'_locale': urlLocale, 'urlCurrentPageId': urlCurrentPageId, 'urlExtra': urlExtra}))-}}
                    {% endif %}
                {% endif %}
            {% elseif urlExtra == "cp_microservice_api" or urlExtra == "cp_microservice_api_create" or "cp_microservice_api_profile" in urlExtra %}
                {% if is_granted("ROLE_ADMIN") == true or is_granted("ROLE_MICROSERVICE") == true %}
                    <p>{% trans %}controlPanelMicroserviceApi_1{% endtrans %}</p>
                    
                    {% if urlExtra == "cp_microservice_api" %}
                        <div class="cp_section_button">
                            <a class="mdc-button mdc-button--dense mdc-button--raised" href="{{path("control_panel", {'_locale': urlLocale, 'urlCurrentPageId': 0, 'urlExtra': "cp_microservice_api_create"})}}">{% trans %}controlPanel_1{% endtrans %}</a>
                        </div>
                        {{-render(controller("App\\Controller\\ControlPanel\\MicroserviceApiController::renderAction", {'_locale': urlLocale, 'urlCurrentPageId': urlCurrentPageId, 'urlExtra': urlExtra}))-}}
                    {% elseif urlExtra == "cp_microservice_api_create" %}
                        {{-render(controller("App\\Controller\\ControlPanel\\MicroserviceApiController::createAction", {'_locale': urlLocale, 'urlCurrentPageId': urlCurrentPageId, 'urlExtra': urlExtra}))-}}
                    {% elseif "cp_microservice_api_profile" in urlExtra %}
                        {{-render(controller("App\\Controller\\ControlPanel\\MicroserviceApiController::profileAction", {'_locale': urlLocale, 'urlCurrentPageId': urlCurrentPageId, 'urlExtra': urlExtra}))-}}
                    {% endif %}
                {% endif %}
            {% elseif urlExtra == "cp_microservice_unit_test" or urlExtra == "cp_microservice_unit_test_create" or "cp_microservice_unit_test_select" in urlExtra %}
                {% if is_granted("ROLE_ADMIN") == true or is_granted("ROLE_MICROSERVICE") == true %}
                    <p>{% trans %}controlPanelMicroserviceUnitTest_1{% endtrans %}</p>
                    <div class="cp_section_button">
                        <a class="mdc-button mdc-button--dense mdc-button--raised" href="{{path("control_panel", {'_locale': urlLocale, 'urlCurrentPageId': 0, 'urlExtra': "cp_microservice_unit_test_create"})}}">{% trans %}controlPanel_1{% endtrans %}</a>
                        <a class="mdc-button mdc-button--dense mdc-button--raised" href="{{path("control_panel", {'_locale': urlLocale, 'urlCurrentPageId': 0, 'urlExtra': "cp_microservice_unit_test_select"})}}">{% trans %}controlPanel_2{% endtrans %}</a>
                    </div>
                    
                    <p>{% trans %}controlPanelMicroserviceUnitTest_2{% endtrans %}</p>
                    
                    {% set iframe = "<iframe id=\"unitTest_iframe\" src=\"[website_public_url]/files/microservice/unit_test/run/[filen_name].html\" style=\"width: 100%; height: 400px;\"></iframe>" %}
                    
                    {% set script = "<script nonce=\"{{php_session.xssProtectionValue}}\" id=\"unitTest_script\">\n"~
                    "   const unitTestStartup = (event) => {\n"~
                    "       let page = JSON.stringify({'page': document.body.innerHTML});\n"~
                    "       let iframe = document.querySelectorAll(\"#unitTest_iframe\")[0];\n\n"~
                    
                    "       iframe.onload = () => {\n"~
                    "           iframe.contentWindow.postMessage(page, iframe.src);\n"~
                    "       };\n"~
                    "   };\n\n"~
                    
                    "   window.addEventListener(\"DOMContentLoaded\", (event) => {\n"~
                    "       unitTestStartup(event);\n"~
                    "   }, false);\n"~
                    "</script>" %}
                    
                    <pre class="square_code">{{iframe}}</pre>
                    <pre class="square_code">{{script}}</pre>
                    
                    {% if urlExtra == "cp_microservice_unit_test_create" %}
                        {{-render(controller("App\\Controller\\ControlPanel\\MicroserviceUnitTestController::createAction", {'_locale': urlLocale, 'urlCurrentPageId': urlCurrentPageId, 'urlExtra': urlExtra}))-}}
                    {% elseif urlExtra == "cp_microservice_unit_test_select" %}
                        {{-render(controller("App\\Controller\\ControlPanel\\MicroserviceUnitTestController::selectAction", {'_locale': urlLocale, 'urlCurrentPageId': urlCurrentPageId, 'urlExtra': urlExtra}))-}}
                    {% endif %}
                {% endif %}
            {% elseif urlExtra == "cp_microservice_selenium" %}
                {% if is_granted("ROLE_ADMIN") == true or is_granted("ROLE_MICROSERVICE") == true %}
                    <p>{% trans %}controlPanelMicroserviceSelenium_1{% endtrans %}</p>
                    
                    <p>{% trans %}controlPanelMicroserviceSelenium_2{% endtrans %}</p>
                    
                    {% set textA = "Require java, npm, chrome and firefox.\n\n"~
                    "Java:\n"~
                    "sudo apt-get update\n"~
                    "sudo apt-get install openjdk-8-jdk\n\n"~
                    
                    "Npm:\n"~
                    "curl -sL https://deb.nodesource.com/setup_12.x | sudo -E bash -\n"~
                    "sudo apt-get install nodejs\n"~
                    "sudo npm -g update npm\n\n"~
                    
                    "Chrome and Firefox:\n"~
                    "sudo sh -c 'echo \"deb [arch=amd64] http://dl.google.com/linux/chrome/deb/ stable main\" >> /etc/apt/sources.list.d/google-chrome.list'\n"~
                    "sudo apt-get update\n"~
                    "sudo apt-get install xvfb google-chrome-stable firefox\n"~
                    "sudo npm install -g selenium-side-runner --unsafe-perm=true --allow-root\n"~
                    "sudo npm install -g chromedriver --unsafe-perm=true --allow-root\n"~
                    "sudo npm install -g geckodriver --unsafe-perm=true --allow-root\n\n" ~
                    
                    "Write on server terminal:\n"~
                    "   sudo nano /etc/sudoers\n"~
                    "Add this on end of file:\n"~
                    "   www-data ALL = NOPASSWD: /home/cimo/www/project/uebusaito/root/symfony_fw/src/files/microservice/selenium/server_start.sh\n"~
                    "   www-data ALL = NOPASSWD: /home/cimo/www/project/uebusaito/root/symfony_fw/src/files/microservice/selenium/server_stop.sh\n"~
                    "Save, close the file and write on server terminal:\n"~
                    "   sudo find /home/cimo/www/project/uebusaito/root/symfony_fw -name \"*.sh\" -exec chmod 774 {} \;" %}
                    
                    <pre class="square_code">{{textA}}</pre>
                    
                    <p>{% trans %}controlPanelMicroserviceSelenium_3{% endtrans %}</p>
                    
                    {% set textB = "Download selenium extension for chrome or firefox and record a \".side\" file.\n"~
                    "Upload this file and select your test in the table.\n"~
                    "Click on the browser icon for start the test." %}
                    
                    <pre class="square_code">{{textB}}</pre>
                    
                    {{-render(controller("App\\Controller\\ControlPanel\\MicroserviceSeleniumController::selectAction", {'_locale': urlLocale, 'urlCurrentPageId': urlCurrentPageId, 'urlExtra': urlExtra}))-}}
                {% endif %}
            {% elseif urlExtra == "cp_microservice_cron" or urlExtra == "cp_microservice_cron_create" or "cp_microservice_cron_select" in urlExtra %}
                {% if is_granted("ROLE_ADMIN") == true or is_granted("ROLE_MICROSERVICE") == true %}
                    <p>{% trans %}controlPanelMicroserviceCron_1{% endtrans %}</p>
                    <div class="cp_section_button">
                        <a class="mdc-button mdc-button--dense mdc-button--raised" href="{{path("control_panel", {'_locale': urlLocale, 'urlCurrentPageId': 0, 'urlExtra': "cp_microservice_cron_create"})}}">{% trans %}controlPanel_1{% endtrans %}</a>
                        <a class="mdc-button mdc-button--dense mdc-button--raised" href="{{path("control_panel", {'_locale': urlLocale, 'urlCurrentPageId': 0, 'urlExtra': "cp_microservice_cron_select"})}}">{% trans %}controlPanel_2{% endtrans %}</a>
                    </div>
                    
                    <p>{% trans %}controlPanelMicroserviceCron_2{% endtrans %}</p>
                    
                    {% set text = "At minutes [0-59]\n"~
                    "|   At hours [0-23]\n"~
                    "|   |   At days [1-31]\n"~
                    "|   |   |   At months [1-12]\n"~
                    "|   |   |   |   At days of the Week [Numeric, 0-6]\n"~
                    "|   |   |   |   |\n"~
                    "*   *   *   *   *   /symfony_fw/src/files/microservice/cron/job.txt\n\n"~
                    "*/X is for repeat every X\n\n"~
                    "Start on reboot:\n"~
                    "@reboot /symfony_fw/src/files/microservice/cron/job.txt" %}
                    
                    <pre class="square_code">{{text}}</pre>
                    
                    {% if urlExtra == "cp_microservice_cron_create" %}
                        {{-render(controller("App\\Controller\\ControlPanel\\MicroserviceCronController::createAction", {'_locale': urlLocale, 'urlCurrentPageId': urlCurrentPageId, 'urlExtra': urlExtra}))-}}
                    {% elseif urlExtra == "cp_microservice_cron_select" %}
                        {{-render(controller("App\\Controller\\ControlPanel\\MicroserviceCronController::selectAction", {'_locale': urlLocale, 'urlCurrentPageId': urlCurrentPageId, 'urlExtra': urlExtra}))-}}
                    {% endif %}
                {% endif %}
            {% endif %}
            
            {{-include("@templateRoot/render/control_panel_page_custom.html.twig")-}}
        </div>
    {% else %}
        <div class="sortable_column">
            <p>{% trans %}controlPanel_3{% endtrans %}</p>
        </div>
    {% endif %}
{% endblock %}

{% block scriptContainer %}
    <script nonce="{{php_session.xssProtectionValue}}" src="{{asset("js/system/control_panel/Payment" ~ javascriptMinify)}}"></script>
    <script nonce="{{php_session.xssProtectionValue}}" src="{{asset("js/system/control_panel/Page" ~ javascriptMinify)}}"></script>
    <script nonce="{{php_session.xssProtectionValue}}" src="{{asset("js/system/control_panel/User" ~ javascriptMinify)}}"></script>
    <script nonce="{{php_session.xssProtectionValue}}" src="{{asset("js/system/control_panel/Module" ~ javascriptMinify)}}"></script>
    <script nonce="{{php_session.xssProtectionValue}}" src="{{asset("js/system/control_panel/RoleUser" ~ javascriptMinify)}}"></script>
    <script nonce="{{php_session.xssProtectionValue}}" src="{{asset("js/system/control_panel/Setting" ~ javascriptMinify)}}"></script>
    <script nonce="{{php_session.xssProtectionValue}}" src="{{asset("js/system/control_panel/SettingSlackIw" ~ javascriptMinify)}}"></script>
    <script nonce="{{php_session.xssProtectionValue}}" src="{{asset("js/system/control_panel/SettingLinePush" ~ javascriptMinify)}}"></script>
    <script nonce="{{php_session.xssProtectionValue}}" src="{{asset("js/system/control_panel/MicroserviceDeploy" ~ javascriptMinify)}}"></script>
    <script nonce="{{php_session.xssProtectionValue}}" src="{{asset("js/system/control_panel/MicroserviceApi" ~ javascriptMinify)}}"></script>
    <script nonce="{{php_session.xssProtectionValue}}" src="{{asset("js/system/control_panel/ApiBasic" ~ javascriptMinify)}}"></script>
    <script nonce="{{php_session.xssProtectionValue}}" src="{{asset("js/system/control_panel/MicroserviceUnitTest" ~ javascriptMinify)}}"></script>
    <script nonce="{{php_session.xssProtectionValue}}" src="{{asset("js/system/control_panel/MicroserviceSelenium" ~ javascriptMinify)}}"></script>
    <script nonce="{{php_session.xssProtectionValue}}" src="{{asset("js/system/control_panel/MicroserviceCron" ~ javascriptMinify)}}"></script>
    
    <script nonce="{{php_session.xssProtectionValue}}">
        "use strict";
        
        $(document).ready(() => {
            // Payment
            let controlPanelPayment = new ControlPanelPayment();
            controlPanelPayment.action();
            controlPanelPayment.changeView();
            
            // Page
            let controlPanelPage = new ControlPanelPage();
            controlPanelPage.action();
            controlPanelPage.changeView();
            
            // User
            let controlPanelUser = new ControlPanelUser();
            controlPanelUser.action();
            controlPanelUser.changeView();
            
            // Module
            let controlPanelModule = new ControlPanelModule();
            controlPanelModule.action();
            controlPanelModule.changeView();
            
            // RoleUser
            let controlPanelRoleUser = new ControlPanelRoleUser();
            controlPanelRoleUser.action();
            controlPanelRoleUser.changeView();
            
            // Setting
            let controlPanelSetting = new ControlPanelSetting();
            controlPanelSetting.action();
            
            // SettingSlackIw
            let controlPanelSettingSlackIw = new ControlPanelSettingSlackIw();
            controlPanelSettingSlackIw.action();
            
            // SettingLinePush
            let controlPanelSettingLinePush = new ControlPanelSettingLinePush();
            controlPanelSettingLinePush.action();
            
            // MicroserviceDeploy
            let controlPanelMicroserviceDeploy = new ControlPanelMicroserviceDeploy();
            controlPanelMicroserviceDeploy.action();
            controlPanelMicroserviceDeploy.changeView();
            
            // MicroserviceApi - ApiBasic
            let controlPanelMicroserviceApi = new ControlPanelMicroserviceApi();
            controlPanelMicroserviceApi.action();
            
            let controlPanelApiBasic = new ControlPanelApiBasic();
            controlPanelApiBasic.action();
            
            // MicroserviceUnitTest
            let controlPanelMicroserviceUnitTest = new ControlPanelMicroserviceUnitTest();
            controlPanelMicroserviceUnitTest.action();
            controlPanelMicroserviceUnitTest.changeView();
            
            // MicroserviceSelenium
            let controlPanelMicroserviceSelenium = new ControlPanelMicroserviceSelenium();
            controlPanelMicroserviceSelenium.action();
            
            // MicroserviceCron
            let controlPanelMicroserviceCron = new ControlPanelMicroserviceCron();
            controlPanelMicroserviceCron.action();
            controlPanelMicroserviceCron.changeView();
            
            $(window).on("resize", "", (event) => {
                controlPanelPayment.changeView();
                
                controlPanelPage.changeView();
                
                controlPanelUser.changeView();
                
                controlPanelModule.changeView();
                
                controlPanelRoleUser.changeView();
                
                controlPanelMicroserviceUnitTest.changeView();
                
                controlPanelMicroserviceCron.changeView();
            });

            $(window).on("orientationchange", "", (event) => {
                controlPanelPayment.changeView();
                
                controlPanelPage.changeView();
                
                controlPanelUser.changeView();
                
                controlPanelModule.changeView();
                
                controlPanelRoleUser.changeView();
                
                controlPanelMicroserviceUnitTest.changeView();
                
                controlPanelMicroserviceCron.changeView();
            });
        });
        
        window.textPayment = {
            'label_1': "{{"controlPanelPayment_2"|trans}}",
            'label_2': "{{"controlPanelPayment_3"|trans}}"
        };
        
        window.textPage = {
            'label_1': "{{"controlPanelPage_2"|trans}}",
            'label_2': "{{"controlPanelPage_3"|trans}}",
            'label_3': "{{"controlPanelPage_4"|trans}}",
            'label_4': "{{"controlPanelPage_5"|trans}}"
        };
        
        window.textUser = {
            'label_1': "{{"controlPanelUser_2"|trans}}",
            'label_2': "{{"controlPanelUser_3"|trans}}"
        };
        
        window.textModule = {
            'label_1': "{{"controlPanelModule_2"|trans}}",
            'label_2': "{{"controlPanelModule_3"|trans}}"
        };
        
        window.textRole = {
            'label_1': "{{"controlPanelRole_2"|trans}}",
            'label_2': "{{"controlPanelRole_3"|trans}}"
        };
        
        window.textSetting = {
            'label_1': "{{"controlPanelSetting_2"|trans}}",
            'label_2': "{{"controlPanelSetting_3"|trans}}",
            'label_3': "{{"settingController_10"|trans}}",
            'label_4': "{{"settingController_11"|trans}}"
        };
        
        window.textSettingSlackIw = {
            'label_1': "{{"controlPanelSettingSlack_2"|trans}}"
        };
        
        window.textSettingLinePush = {
            'label_1': "{{"controlPanelSettingLine_2"|trans}}"
        };
        
        window.textMicroserviceDeploy = {
            'label_1': "{{"controlPanelMicroserviceDeploy_2"|trans}}",
            'label_2': "{{"controlPanelMicroserviceDeploy_3"|trans}}",
            'label_3': "{{"controlPanelMicroserviceDeploy_4"|trans}}",
            'label_4': "{{"controlPanelMicroserviceDeploy_5"|trans}}"
        };
        
        window.textApiBasic = {
            'label_1': "{{"controlPanelMicroserviceApi_2"|trans}}",
            'label_2': "{{"controlPanelMicroserviceApi_3"|trans}}"
        };
        
        window.textMicroserviceUnitTest = {
            'label_1': "{{"controlPanelMicroserviceUnitTest_3"|trans}}",
            'label_2': "{{"controlPanelMicroserviceUnitTest_4"|trans}}"
        };
        
        window.textMicroserviceSelenium = {
            'label_1': "{{"controlPanelMicroserviceSelenium_4"|trans}}"
        };
        
        window.textMicroserviceCron = {
            'label_1': "{{"controlPanelMicroserviceCron_3"|trans}}",
            'label_2': "{{"controlPanelMicroserviceCron_4"|trans}}"
        };
        
        window.url['cpPaymentUserSelect'] = "{{path("cp_payment_user_select", {'_locale': urlLocale, 'urlCurrentPageId': 0, 'urlExtra': urlExtra})}}";
        window.url['cpPaymentSelect'] = "{{path("cp_payment_select", {'_locale': urlLocale, 'urlCurrentPageId': 0, 'urlExtra': urlExtra})}}";
        window.url['cpPaymentDelete'] = "{{path("cp_payment_delete", {'_locale': urlLocale, 'urlCurrentPageId': 0, 'urlExtra': urlExtra})}}";
        window.url['cpPageCreate'] = "{{path("cp_page_create", {'_locale': urlLocale, 'urlCurrentPageId': 0, 'urlExtra': urlExtra})}}";
        window.url['cpPageSelect'] = "{{path("cp_page_select", {'_locale': urlLocale, 'urlCurrentPageId': 0, 'urlExtra': urlExtra})}}";
        window.url['cpPageProfile'] = "{{path("cp_page_profile", {'_locale': urlLocale, 'urlCurrentPageId': 0, 'urlExtra': urlExtra})}}";
        window.url['cpPageProfileSort'] = "{{path("cp_page_profile_sort", {'_locale': urlLocale, 'urlCurrentPageId': 0, 'urlExtra': urlExtra})}}";
        window.url['cpPageDelete'] = "{{path("cp_page_delete", {'_locale': urlLocale, 'urlCurrentPageId': 0, 'urlExtra': urlExtra})}}";
        window.url['cpUserCreate'] = "{{path("cp_user_create", {'_locale': urlLocale, 'urlCurrentPageId': 0, 'urlExtra': urlExtra})}}";
        window.url['cpUserSelect'] = "{{path("cp_user_select", {'_locale': urlLocale, 'urlCurrentPageId': 0, 'urlExtra': urlExtra})}}";
        window.url['cpUserProfile'] = "{{path("cp_user_profile", {'_locale': urlLocale, 'urlCurrentPageId': 0, 'urlExtra': urlExtra})}}";
        window.url['cpUserAttemptLoginReset'] = "{{path("cp_user_attemptLoginReset", {'_locale': urlLocale, 'urlCurrentPageId': 0, 'urlExtra': urlExtra})}}";
        window.url['cpUserDelete'] = "{{path("cp_user_delete", {'_locale': urlLocale, 'urlCurrentPageId': 0, 'urlExtra': urlExtra})}}";
        window.url['cpModuleCreate'] = "{{path("cp_module_create", {'_locale': urlLocale, 'urlCurrentPageId': 0, 'urlExtra': urlExtra})}}";
        window.url['cpModuleSelect'] = "{{path("cp_module_select", {'_locale': urlLocale, 'urlCurrentPageId': 0, 'urlExtra': urlExtra})}}";
        window.url['cpModuleProfileSort'] = "{{path("cp_module_profile_sort", {'_locale': urlLocale, 'urlCurrentPageId': 0, 'urlExtra': urlExtra})}}";
        window.url['cpModuleProfile'] = "{{path("cp_module_profile", {'_locale': urlLocale, 'urlCurrentPageId': 0, 'urlExtra': urlExtra})}}";
        window.url['cpModuleDelete'] = "{{path("cp_module_delete", {'_locale': urlLocale, 'urlCurrentPageId': 0, 'urlExtra': urlExtra})}}";
        window.url['cpRoleUserCreate'] = "{{path("cp_roleUser_create", {'_locale': urlLocale, 'urlCurrentPageId': 0, 'urlExtra': urlExtra})}}";
        window.url['cpRoleUserSelect'] = "{{path("cp_roleUser_select", {'_locale': urlLocale, 'urlCurrentPageId': 0, 'urlExtra': urlExtra})}}";
        window.url['cpRoleUserProfile'] = "{{path("cp_roleUser_profile", {'_locale': urlLocale, 'urlCurrentPageId': 0, 'urlExtra': urlExtra})}}";
        window.url['cpRoleUserDelete'] = "{{path("cp_roleUser_delete", {'_locale': urlLocale, 'urlCurrentPageId': 0, 'urlExtra': urlExtra})}}";
        window.url['cpSettingSave'] = "{{path("cp_setting_save", {'_locale': urlLocale, 'urlCurrentPageId': 0, 'urlExtra': urlExtra})}}";
        window.url['cpSettingLanguageManage'] = "{{path("cp_setting_language_manage", {'_locale': urlLocale, 'urlCurrentPageId': 0, 'urlExtra': urlExtra})}}";
        window.url['cpSettingSlackIwRender'] = "{{path("cp_setting_slack_iw_render", {'_locale': urlLocale, 'urlCurrentPageId': 0, 'urlExtra': urlExtra})}}";
        window.url['cpSettingSlackIwDelete'] = "{{path("cp_setting_slack_iw_delete", {'_locale': urlLocale, 'urlCurrentPageId': 0, 'urlExtra': urlExtra})}}";
        window.url['cpSettingSlackIwReset'] = "{{path("cp_setting_slack_iw_reset", {'_locale': urlLocale, 'urlCurrentPageId': 0, 'urlExtra': urlExtra})}}";
        window.url['cpSettingLinePushRender'] = "{{path("cp_setting_line_push_render", {'_locale': urlLocale, 'urlCurrentPageId': 0, 'urlExtra': urlExtra})}}";
        window.url['cpSettingLinePushDelete'] = "{{path("cp_setting_line_push_delete", {'_locale': urlLocale, 'urlCurrentPageId': 0, 'urlExtra': urlExtra})}}";
        window.url['cpSettingLinePushReset'] = "{{path("cp_setting_line_push_reset", {'_locale': urlLocale, 'urlCurrentPageId': 0, 'urlExtra': urlExtra})}}";
        window.url['cpMicroserviceDeployCreate'] = "{{path("cp_microservice_deploy_create", {'_locale': urlLocale, 'urlCurrentPageId': 0, 'urlExtra': urlExtra})}}";
        window.url['cpMicroserviceDeploySelect'] = "{{path("cp_microservice_deploy_select", {'_locale': urlLocale, 'urlCurrentPageId': 0, 'urlExtra': urlExtra})}}";
        window.url['cpMicroserviceDeployProfile'] = "{{path("cp_microservice_deploy_profile", {'_locale': urlLocale, 'urlCurrentPageId': 0, 'urlExtra': urlExtra})}}";
        window.url['cpMicroserviceDeployExecute'] = "{{path("cp_microservice_deploy_execute", {'_locale': urlLocale, 'urlCurrentPageId': 0, 'urlExtra': urlExtra})}}";
        window.url['cpMicroserviceDeployDelete'] = "{{path("cp_microservice_deploy_delete", {'_locale': urlLocale, 'urlCurrentPageId': 0, 'urlExtra': urlExtra})}}";
        window.url['cpMicroserviceDeployClearPassword'] = "{{path("cp_microservice_deploy_clearPassword", {'_locale': urlLocale, 'urlCurrentPageId': 0, 'urlExtra': urlExtra})}}";
        window.url['cpMicroserviceApiCreate'] = "{{path("cp_microservice_api_create", {'_locale': urlLocale, 'urlCurrentPageId': 0, 'urlExtra': urlExtra})}}";
        window.url['cpMicroserviceApiProfile'] = "{{path("cp_microservice_api_profile", {'_locale': urlLocale, 'urlCurrentPageId': 0, 'urlExtra': urlExtra})}}";
        window.url['cpApiBasicCreate'] = "{{path("cp_apiBasic_create", {'_locale': urlLocale, 'urlCurrentPageId': 0, 'urlExtra': urlExtra})}}";
        window.url['cpApiBasicSelect'] = "{{path("cp_apiBasic_select", {'_locale': urlLocale, 'urlCurrentPageId': 0, 'urlExtra': urlExtra})}}";
        window.url['cpApiBasicProfile'] = "{{path("cp_apiBasic_profile", {'_locale': urlLocale, 'urlCurrentPageId': 0, 'urlExtra': urlExtra})}}";
        window.url['cpApiBasicDelete'] = "{{path("cp_apiBasic_delete", {'_locale': urlLocale, 'urlCurrentPageId': 0, 'urlExtra': urlExtra})}}";
        window.url['cpApiBasicClearPassword'] = "{{path("cp_apiBasic_clearPassword", {'_locale': urlLocale, 'urlCurrentPageId': 0, 'urlExtra': urlExtra})}}";
        window.url['cpApiBasicLog'] = "{{path("cp_apiBasic_log", {'_locale': urlLocale, 'urlCurrentPageId': 0, 'urlExtra': urlExtra})}}";
        window.url['cpApiBasicGraph'] = "{{path("cp_apiBasic_graph", {'_locale': urlLocale, 'urlCurrentPageId': 0, 'urlExtra': urlExtra})}}";
        window.url['cpApiBasicCsv'] = "{{path("cp_apiBasic_csv", {'_locale': urlLocale, 'urlCurrentPageId': 0, 'urlExtra': urlExtra})}}";
        window.url['cpApiBasicDownloadDetail'] = "{{path("cp_apiBasic_download_detail", {'_locale': urlLocale, 'urlCurrentPageId': 0, 'urlExtra': urlExtra})}}";
        window.url['cpMicroserviceUnitTestCreate'] = "{{path("cp_microservice_unit_test_create", {'_locale': urlLocale, 'urlCurrentPageId': 0, 'urlExtra': urlExtra})}}";
        window.url['cpMicroserviceUnitTestSelect'] = "{{path("cp_microservice_unit_test_select", {'_locale': urlLocale, 'urlCurrentPageId': 0, 'urlExtra': urlExtra})}}";
        window.url['cpMicroserviceUnitTestProfile'] = "{{path("cp_microservice_unit_test_profile", {'_locale': urlLocale, 'urlCurrentPageId': 0, 'urlExtra': urlExtra})}}";
        window.url['cpMicroserviceUnitTestDelete'] = "{{path("cp_microservice_unit_test_delete", {'_locale': urlLocale, 'urlCurrentPageId': 0, 'urlExtra': urlExtra})}}";
        window.url['cpMicroserviceSeleniumSelect'] = "{{path("cp_microservice_selenium_select", {'_locale': urlLocale, 'urlCurrentPageId': 0, 'urlExtra': urlExtra})}}";
        window.url['cpMicroserviceSeleniumTest'] = "{{path("cp_microservice_selenium_test", {'_locale': urlLocale, 'urlCurrentPageId': 0, 'urlExtra': urlExtra})}}";
        window.url['cpMicroserviceSeleniumDelete'] = "{{path("cp_microservice_selenium_delete", {'_locale': urlLocale, 'urlCurrentPageId': 0, 'urlExtra': urlExtra})}}";
        window.url['cpMicroserviceSeleniumUpload'] = "{{path("cp_microservice_selenium_upload", {'_locale': urlLocale, 'urlCurrentPageId': 0, 'urlExtra': urlExtra})}}";
        window.url['cpMicroserviceCronCreate'] = "{{path("cp_microservice_cron_create", {'_locale': urlLocale, 'urlCurrentPageId': 0, 'urlExtra': urlExtra})}}";
        window.url['cpMicroserviceCronSelect'] = "{{path("cp_microservice_cron_select", {'_locale': urlLocale, 'urlCurrentPageId': 0, 'urlExtra': urlExtra})}}";
        window.url['cpMicroserviceCronProfile'] = "{{path("cp_microservice_cron_profile", {'_locale': urlLocale, 'urlCurrentPageId': 0, 'urlExtra': urlExtra})}}";
        window.url['cpMicroserviceCronDelete'] = "{{path("cp_microservice_cron_delete", {'_locale': urlLocale, 'urlCurrentPageId': 0, 'urlExtra': urlExtra})}}";
    </script>
    
    {{-include("@templateRoot/render/control_panel_script_custom.html.twig")-}}
{% endblock %}

{% macro menuControlPanel(urlLocale) %}
    {% if is_granted("ROLE_ADMIN") == true or is_granted("ROLE_MODERATOR") == true %}
        <a class="mdc-list-item" href="{{path("root_render", {'_locale': urlLocale, 'urlCurrentPageId': 2, 'urlExtra': ""})}}">
            <i class="material-icons mdc-list-item__graphic">home</i>
            <span>{% trans %}controlPanel_4{% endtrans %}</span>
        </a>
        <a class="mdc-list-item" href="{{path("control_panel", {'_locale': urlLocale, 'urlCurrentPageId': 0, 'urlExtra': "cp_sytem_info"})}}">
            <i class="material-icons mdc-list-item__graphic">developer_board</i>
            <span>{% trans %}controlPanel_5{% endtrans %}</span>
        </a>
        <a class="mdc-list-item" href="{{path("control_panel", {'_locale': urlLocale, 'urlCurrentPageId': 0, 'urlExtra': "cp_payment"})}}">
            <i class="material-icons mdc-list-item__graphic">payment</i>
            <span>{% trans %}controlPanel_6{% endtrans %}</span>
        </a>
        <a class="mdc-list-item" href="{{path("control_panel", {'_locale': urlLocale, 'urlCurrentPageId': 0, 'urlExtra': "cp_page"})}}">
            <i class="material-icons mdc-list-item__graphic">pages</i>
            <span>{% trans %}controlPanel_7{% endtrans %}</span>
        </a>
        <a class="mdc-list-item" href="{{path("control_panel", {'_locale': urlLocale, 'urlCurrentPageId': 0, 'urlExtra': "cp_user"})}}">
            <i class="material-icons mdc-list-item__graphic">people</i>
            <span>{% trans %}controlPanel_8{% endtrans %}</span>
        </a>
        <a class="mdc-list-item" href="{{path("control_panel", {'_locale': urlLocale, 'urlCurrentPageId': 0, 'urlExtra': "cp_module"})}}">
            <i class="material-icons mdc-list-item__graphic">extension</i>
            <span>{% trans %}controlPanel_9{% endtrans %}</span>
        </a>
        <a class="mdc-list-item" href="{{path("control_panel", {'_locale': urlLocale, 'urlCurrentPageId': 0, 'urlExtra': "cp_role"})}}">
            <i class="material-icons mdc-list-item__graphic">label</i>
            <span>{% trans %}controlPanel_10{% endtrans %}</span>
        </a>
        <a class="mdc-list-item" href="{{path("control_panel", {'_locale': urlLocale, 'urlCurrentPageId': 0, 'urlExtra': "cp_setting"})}}">
            <i class="material-icons mdc-list-item__graphic">settings</i>
            <span>{% trans %}controlPanel_11{% endtrans %}</span>
        </a>
        <a class="mdc-list-item" href="{{path("control_panel", {'_locale': urlLocale, 'urlCurrentPageId': 0, 'urlExtra': "cp_setting_slack_iw"})}}">
            <img class="material-icons" src="{{asset("images/templates/" ~ settingRow['template'] ~ "/slack.png")}}" alt="slack.png"/>
            <span>{% trans %}controlPanel_12{% endtrans %}</span>
        </a>
        <a class="mdc-list-item" href="{{path("control_panel", {'_locale': urlLocale, 'urlCurrentPageId': 0, 'urlExtra': "cp_setting_line"})}}">
            <img class="material-icons" src="{{asset("images/templates/" ~ settingRow['template'] ~ "/line.png")}}" alt="line.png"/>
            <span>{% trans %}controlPanel_13{% endtrans %}</span>
        </a>
    {% endif %}

    {% if is_granted("ROLE_ADMIN") == true or is_granted("ROLE_MICROSERVICE") == true %}
        <p class="mdc-typography--overline title_group">{% trans %}controlPanel_14{% endtrans %}</p>
        <a class="mdc-list-item" href="{{path("control_panel", {'_locale': urlLocale, 'urlCurrentPageId': 0, 'urlExtra': "cp_microservice_deploy"})}}">
            <i class="material-icons mdc-list-item__graphic">build</i>
            <span>{% trans %}controlPanel_15{% endtrans %}</span>
        </a>
        <a class="mdc-list-item" href="{{path("control_panel", {'_locale': urlLocale, 'urlCurrentPageId': 0, 'urlExtra': "cp_microservice_api"})}}">
            <i class="material-icons mdc-list-item__graphic">perm_data_setting</i>
            <span>{% trans %}controlPanel_16{% endtrans %}</span>
        </a>
        <a class="mdc-list-item" href="{{path("control_panel", {'_locale': urlLocale, 'urlCurrentPageId': 0, 'urlExtra': "cp_microservice_unit_test"})}}">
            <i class="material-icons mdc-list-item__graphic">bug_report</i>
            <span>{% trans %}controlPanel_18{% endtrans %}</span>
        </a>
        <a class="mdc-list-item" href="{{path("control_panel", {'_locale': urlLocale, 'urlCurrentPageId': 0, 'urlExtra': "cp_microservice_selenium"})}}">
            <i class="material-icons mdc-list-item__graphic">dashboard</i>
            <span>{% trans %}controlPanel_19{% endtrans %}</span>
        </a>
        <a class="mdc-list-item" href="{{path("control_panel", {'_locale': urlLocale, 'urlCurrentPageId': 0, 'urlExtra': "cp_microservice_cron"})}}">
            <i class="material-icons mdc-list-item__graphic">update</i>
            <span>{% trans %}controlPanel_20{% endtrans %}</span>
        </a>
    {% endif %}
    
    {% if settingRow['use_type'] == 2 and (is_granted("ROLE_ADMIN") == true or is_granted("ROLE_MODERATOR") == true) %}
        <p class="mdc-typography--overline title_group">{% trans %}controlPanel_17{% endtrans %}</p>
    {% endif %}
    
    {{-include("@templateRoot/render/control_panel_menu_custom.html.twig")-}}
{% endmacro %}