{% if form is not null %}
    {% form_theme form "@templateRoot/layout/layout_form_materialDesign.html.twig" %}

    <div>
        {% if response.values.userId is null %}
            <h1 class="mdc-typography--headline6">{% trans %}recoverPassword_1{% endtrans %}</h1>
            <form id="form_recover_password" action="{{path("recover_password", {'_locale': urlLocale, 'urlCurrentPageId': urlCurrentPageId, 'urlExtra': urlExtra})}}" method="post" novalidate="novalidate">
                {{form_row(form.email, {'dense': "", 'styleType': "outlinedTrailing", 'icon': "email"})}}

                {{form_widget(form._token)}}

                {{form_widget(form.submit, {'dense': "", 'raised': ""})}}
            </form>
        {% else %}
            <h1 class="mdc-typography--headline6">{% trans %}recoverPassword_2{% endtrans %}</h1>
            <form id="form_forgot_password" action="{{path("recover_password", {'_locale': urlLocale, 'urlCurrentPageId': urlCurrentPageId, 'urlExtra': urlExtra})}}" method="post" novalidate="novalidate">
                {{form_row(form.password, {'dense': "", 'styleType': "outlinedTrailing", 'icon': "linear_scale"})}}
                {{form_row(form.passwordConfirm, {'dense': "", 'styleType': "outlinedTrailing", 'icon': "linear_scale"})}}

                {{form_widget(form._token)}}

                {{form_widget(form.submit, {'dense': "", 'raised': ""})}}
            </form>
        {% endif %}
    </div>
{% endif %}