{% form_theme form "@templateRoot/layout/layout_form_materialDesign.html.twig" %}

<div>
    <h2 class="mdc-typography--headline6">{% trans %}ipCameraProfile_1{% endtrans %}</h2>
    <form id="form_cp_ipCamera_profile" action="{{path("cp_ipCamera_profile", {'_locale': urlLocale, 'urlCurrentPageId': urlCurrentPageId, 'urlExtra': urlExtra})}}" method="post" novalidate="novalidate">
        {{form_row(form.name, {'dense': "", 'styleType': "outlinedTrailing", 'icon': "textsms"})}}
        
        <div id="ipCamera_userId" class="wordTag_container">
            {{form_row(form.userId)}}
            {{response.values.userSelectHtml|raw}}
            <div class="wordTag_result"></div>
        </div>
        
        {{form_row(form.hostVideo, {'dense': "", 'styleType': "outlinedTrailing", 'icon': "textsms"})}}
        {{form_row(form.hostImage, {'dense': "", 'styleType': "outlinedTrailing"})}}
        {{form_row(form.username, {'dense': "", 'styleType': "outlinedTrailing", 'icon': "textsms"})}}
        {{form_row(form.password, {'dense': "", 'styleType': "outlinedTrailing", 'icon': "textsms"})}}
        {{form_row(form.detectionSensitivity, {'dense': "", 'styleType': "outlinedTrailing", 'icon': "textsms"})}}
        {{form_row(form.detectionActive)}}
        {{form_row(form.active)}}

        {{form_widget(form._token)}}

        {{form_widget(form.submit, {'dense': "", 'raised': ""})}}
    </form>

    {% if is_granted("ROLE_ADMIN") == true and response.values.id > 4 %}
        {{-include("@templateRoot/render/control_panel/ipCamera_delete.html.twig")-}}
    {% endif %}
</div>