{% form_theme form "@templateRoot/layout/layout_form_materialDesign.html.twig" %}

{% if response.values.microserviceApiEntity.name is defined and response.fileExists == true %}
    <a class="mdc-button mdc-button--dense mdc-button--raised" href="{{path("control_panel", {'_locale': urlLocale, 'urlCurrentPageId': 0, 'urlExtra': "cp_microservice_api"})}}">
        {% trans %}microserviceApiProfile_1{% endtrans %}
    </a>
    <br><br>
    <fieldset>
        <legend>{% trans %}microserviceApiProfile_2{% endtrans %}</legend>
        <p>{% trans %}microserviceApiProfile_3{% endtrans %}</p>
        <form id="form_cp_microservice_api_profile" action="{{path("cp_microservice_api_profile", {'_locale': urlLocale, 'urlCurrentPageId': urlCurrentPageId, 'urlExtra': urlExtra})}}" method="post" novalidate="novalidate">
            <div class="upload_container">
                <img class="avatar" src="{{response.logo}}" alt="Logo"/>
                <div class="input">
                    {{form_row(form.image)}}
                    {{form_row(form.removeImage)}}
                </div>
            </div>
            
            {{form_row(form.name, {'dense': "", 'styleType': "outlinedTrailing", 'icon': "textsms"})}}
            {{form_row(form.controllerName, {'dense': "", 'styleType': "outlinedTrailing", 'icon': "textsms"})}}
            {{form_row(form.description, {'dense': "", 'styleType': "outlinedTrailing", 'icon': "textsms"})}}
            {{form_row(form.active)}}

            {{form_widget(form._token)}}

            {{form_widget(form.submit, {'dense': "", 'raised': ""})}}
        </form>
    </fieldset>
    
    {{-render(controller("App\\Controller\\Microservice\\Api\\" ~ response.values.microserviceApiEntity.name ~ "\\" ~ response.values.microserviceApiEntity.controllerName ~ "Controller::createAction", {'_locale': urlLocale, 'urlCurrentPageId': urlCurrentPageId, 'urlExtra': urlExtra}))-}}
    {{-render(controller("App\\Controller\\Microservice\\Api\\" ~ response.values.microserviceApiEntity.name ~ "\\" ~ response.values.microserviceApiEntity.controllerName ~ "Controller::selectAction", {'_locale': urlLocale, 'urlCurrentPageId': urlCurrentPageId, 'urlExtra': urlExtra}))-}}
{% else %}
    <a class="mdc-button mdc-button--dense mdc-button--raised" href="{{path("control_panel", {'_locale': urlLocale, 'urlCurrentPageId': 0, 'urlExtra': "cp_microservice_api"})}}">
        {% trans %}microserviceApiProfile_1{% endtrans %}
    </a>
    <p>{% trans %}microserviceApiProfile_4{% endtrans %}</p>
{% endif %}