{% if response.values is defined %}
    {% for key, value in response.values.microserviceApiRows %}
        <div class="mdc-card microservice_api_card">
            <section class="mdc-card__header">
                {% if value['image'] == "" %}
                    <img src="{{asset("images/templates/" ~ settingRow['template'] ~ "/api.png")}}" alt="api.png"/>
                {% else %}
                    <img src="{{asset("files/microservice/api/" ~ value['image'])}}" alt="{{value['image']}}"/>
                {% endif%}
                <div class="text_container">
                    <p class="mdc-card__title">{{value['name']}}</p>
                    <p class="mdc-card__subtitle">
                        {% if value['active'] == true %}
                            {% trans %}microserviceApi_2{% endtrans %}
                        {% else %}
                            {% trans %}microserviceApi_3{% endtrans %}
                        {% endif%}
                    </p>
                </div>
            </section>
            <section class="mdc-card__media">
                <p>{{value['description']}}</p>
            </section>
            <section class="mdc-card__actions">
                <a class="mdc-button mdc-button--dense mdc-card__action mdc-card__action--button" href="{{path("control_panel", {'_locale': urlLocale, 'urlCurrentPageId': 0, 'urlExtra': "cp_microservice_api_profile_" ~ (key + 1)})}}" type="button">
                    {% trans %}microserviceApi_1{% endtrans %}
                </a>
            </section>
        </div>
    {% endfor %}
{% endif %}