{% form_theme form "@templateRoot/layout/layout_form_materialDesign.html.twig" %}

<fieldset>
    <legend>{% trans %}microserviceCronCreate_1{% endtrans %}</legend>
    <p>{% trans %}microserviceCronCreate_2{% endtrans %}</p>
    <form id="form_cp_microservice_cron_create" action="{{path("cp_microservice_cron_create", {'_locale': urlLocale, 'urlCurrentPageId': urlCurrentPageId, 'urlExtra': urlExtra})}}" method="post" novalidate="novalidate">
        {{form_row(form.name, {'dense': "", 'styleType': "outlinedTrailing", 'icon': "textsms"})}}
        {{form_row(form.time, {'dense': "", 'styleType': "outlinedTrailing", 'icon': "textsms"})}}
        {{form_row(form.code, {'dense': "", 'styleType': "outlinedTrailing", 'icon': "textsms", 'attr' : {'id': "cron_code_row"}})}}

        {{form_widget(form._token)}}

        {{form_widget(form.submit, {'dense': "", 'raised': ""})}}
    </form>
</fieldset>