{% form_theme form "@templateRoot/layout/layout_form_materialDesign.html.twig" %}

<fieldset>
    <legend>{% trans %}pageCreate_1{% endtrans %}</legend>
    <p>{% trans %}pageCreate_2{% endtrans %}</p>
    <form id="form_cp_page_create" action="{{path("cp_page_create", {'_locale': urlLocale, 'urlCurrentPageId': urlCurrentPageId, 'urlExtra': urlExtra})}}" method="post" novalidate="novalidate">
        {{form_row(form.alias, {'dense': "", 'styleType': "outlinedTrailing", 'icon': "textsms"})}}
        {{form_row(form.parent, {'dense': "", 'firstOption': "empty"})}}
        {{form_row(form.title, {'dense': "", 'styleType': "outlinedTrailing"})}}
        {{form_row(form.controllerAction, {'dense': "", 'styleType': "outlinedTrailing"})}}
        {{form_row(form.argument, {'dense': "", 'styleType': "outlinedTrailing"})}}

        {{-include("@templateRoot/include/wysiwyg.html.twig")-}}

        <div id="page_roleUserId" class="wordTag_container">
            {{form_row(form.roleUserId)}}
            {{response.values.userRoleSelectHtml|raw}}
            <div class="wordTag_result"></div>
        </div>

        {{form_row(form.protected, {'dense': ""})}}
        {{form_row(form.showInMenu, {'dense': ""})}}
        {{form_row(form.menuName, {'dense': "", 'styleType': "outlinedTrailing", 'icon': "menu"})}}
        
        <div id="page_rankMenuSort" class="sort_container">
            <p>{% trans %}pageCreate_3{% endtrans %} <i class="material-icons">list</i></p>
            <div class="sort_result">
                {{response.values.pageSortListHtml|raw}}
            </div>
            <div class="sort_control">
                <button class="mdc-button mdc-button--dense mdc-button--raised" type="button">
                    <i class="material-icons mdc-button__icon button_up">arrow_drop_up</i>
                    {% trans %}pageCreate_4{% endtrans %}
                </button>
                <button class="mdc-button mdc-button--dense mdc-button--raised" type="button">
                    <i class="material-icons mdc-button__icon button_down">arrow_drop_down</i>
                    {% trans %}pageCreate_5{% endtrans %}
                </button>
            </div>
            {{form_row(form.rankMenuSort)}}
        </div>
        
        {{form_row(form.comment, {'dense': ""})}}
        {{form_row(form.onlyParent, {'dense': ""})}}
        {{form_row(form.onlyLink, {'dense': ""})}}
        {{form_row(form.link, {'dense': "", 'styleType': "outlinedTrailing", 'icon': "link"})}}
        {{form_row(form.metaDescription, {'dense': "", 'styleType': "outlinedTrailing"})}}
        {{form_row(form.metaKeywords, {'dense': "", 'styleType': "outlinedTrailing"})}}
        {{form_row(form.metaRobots, {'dense': "", 'styleType': "outlinedTrailing"})}}
        {{form_row(form.draft, {'dense': ""})}}

        {{form_widget(form._token)}}

        {{form_widget(form.submit, {'dense': "", 'raised': ""})}}
    </form>
</fieldset>