{% form_theme form "@templateRoot/layout/layout_form_materialDesign.html.twig" %}

<h2 class="mdc-typography--headline6">{% trans %}roleUserProfile_1{% endtrans %}</h2>
<form id="form_cp_roleUser_profile" action="{{path("cp_roleUser_profile", {'_locale': urlLocale, 'urlCurrentPageId': urlCurrentPageId, 'urlExtra': urlExtra})}}" method="post" novalidate="novalidate">
    {{form_row(form.level, {'dense': "", 'styleType': "outlinedTrailing", 'icon': "supervisor_account"})}}

    {{form_widget(form._token)}}

    {{form_widget(form.submit, {'dense': "", 'raised': ""})}}
</form>

{% if is_granted("ROLE_ADMIN") == true and response.values.id > 4 %}
    {{-include("@templateRoot/render/control_panel/roleUser_delete.html.twig")-}}
{% endif %}