<fieldset>
    <legend>{% trans %}roleUserSelect_1{% endtrans %}</legend>
    <p>{% trans %}roleUserSelect_2{% endtrans %}</p>
    <div id="cp_roleUser_select_desktop" class="display_desktop">
        <div id="cp_roleUser_select_result_desktop">
            
            {{-include("@templateRoot/include/table_and_pagination.html.twig")-}}
            
            <table>
                <thead>
                    <tr>
                        <th>
                            <span>{% trans %}roleUserSelect_3{% endtrans %}</span>
                            <i class="material-icons">arrow_drop_down</i>
                            <i class="material-icons">arrow_drop_up</i>
                        </th>
                        <th>
                            <span>{% trans %}roleUserSelect_4{% endtrans %}</span>
                            <i class="material-icons">arrow_drop_down</i>
                            <i class="material-icons">arrow_drop_up</i>
                        </th>
                        <th>
                            <span>{% trans %}roleUserSelect_5{% endtrans %}</span>
                            <i class="material-icons">arrow_drop_down</i>
                            <i class="material-icons">arrow_drop_up</i>
                        </th>
                        <th>
                            <span>{% trans %}roleUserSelect_6{% endtrans %}</span>
                            <i class="material-icons">arrow_drop_down</i>
                            <i class="material-icons">arrow_drop_up</i>
                        </th>
                    </tr>
                </thead>
                <tbody class="table_tbody">
                    {{response.values.listHtml|raw}}
                </tbody>
            </table>
        </div>
        <button id="cp_roleUser_select_button_desktop" class="mdc-button mdc-button--dense mdc-button--raised" type="button">{% trans %}roleUserSelect_7{% endtrans %}</button>
    </div>
    <div id="cp_roleUser_select_mobile" class="display_mobile">
        {% form_theme form "@templateRoot/layout/layout_form_materialDesign.html.twig" %}
        
        <form id="form_cp_roleUser_select_mobile" action="{{path("cp_roleUser_profile", {'_locale': urlLocale, 'urlCurrentPageId': urlCurrentPageId, 'urlExtra': urlExtra})}}" method="post" novalidate="novalidate">
            {{form_row(form.id)}}

            {{form_widget(form._token)}}

            {{form_widget(form.submit, {'dense': "", 'raised': ""})}}
        </form>
    </div>
    <div id="cp_roleUser_select_result"></div>
</fieldset>