{% form_theme form "@templateRoot/layout/layout_form_materialDesign.html.twig" %}

<h2 class="mdc-typography--headline6">{% trans %}userProfile_1{% endtrans %}</h2>
<form id="form_cp_user_profile" action="{{path("cp_user_profile_save", {'_locale': urlLocale, 'urlCurrentPageId': urlCurrentPageId, 'urlExtra': urlExtra})}}" method="post" novalidate="novalidate">
    <div id="attemptLogin_reset" class="form_row">
        <p>{% trans %}userProfile_2{% endtrans %} <span class="attemptLogin_reset_text">{{response.values.attemptLogin}}</span></p>
        <button class="mdc-button mdc-button--dense mdc-button--raised" type="button">{% trans %}userProfile_3{% endtrans %}</button>
    </div>
    
    {% if is_granted("ROLE_ADMIN") == true %}
        <div id="user_roleUserId" class="wordTag_container">
            {{form_row(form.roleUserId)}}
            {{response.values.userRoleSelectHtml|raw}}
            <div class="wordTag_result"></div>
        </div>
    {% endif %}
    
    {{form_row(form.username, {'dense': "", 'styleType': "outlinedTrailing", 'icon': "pets"})}}
    {{form_row(form.name, {'dense': "", 'styleType': "outlinedTrailing"})}}
    {{form_row(form.surname, {'dense': "", 'styleType': "outlinedTrailing"})}}
    {{form_row(form.email, {'dense': "", 'styleType': "outlinedTrailing", 'icon': "email"})}}
    {{form_row(form.telephone, {'dense': "", 'styleType': "outlinedTrailing"})}}
    {{form_row(form.born, {'dense': "", 'styleType': "outlinedTrailing", 'attr' : {'class': "widget_datePicker_input"} })}}
    {{form_row(form.gender)}}

    {% if form.fiscalCode.vars.value != "" %}
        {{form_row(form.fiscalCode, {'dense': "", 'styleType': "outlinedTrailing"})}}
        {{form_row(form.companyName, {'dense': "", 'styleType': "outlinedTrailing"})}}
        {{form_row(form.vat, {'dense': "", 'styleType': "outlinedTrailing"})}}
    {% endif %}

    {{form_row(form.website, {'dense': "", 'styleType': "outlinedTrailing"})}}
    {{form_row(form.state, {'dense': "", 'styleType': "outlinedTrailing"})}}
    {{form_row(form.city, {'dense': "", 'styleType': "outlinedTrailing"})}}
    {{form_row(form.zip, {'dense': "", 'styleType': "outlinedTrailing"})}}
    {{form_row(form.address, {'dense': "", 'styleType': "outlinedTrailing"})}}
    {{form_row(form.password, {'dense': "", 'styleType': "outlinedTrailing", 'icon': "linear_scale"})}}
    {{form_row(form.passwordConfirm, {'dense': "", 'styleType': "outlinedTrailing", 'icon': "linear_scale"})}}
    {{form_row(form.active)}}
    
    {{form_row(form.credit, {'dense': "", 'styleType': "outlinedTrailing", 'icon': "monetization_on"})}}

    {{form_widget(form._token)}}

    {{form_widget(form.submit, {'dense': "", 'raised': ""})}}
</form>

{% if is_granted("ROLE_ADMIN") == true and response.values.id > 1 %}
    {{-include("@templateRoot/render/control_panel/user_delete.html.twig")-}}
{% endif %}