<h2 class="mdc-typography--headline6">{% trans %}myPagePaymentProfile_1{% endtrans %}</h2>
<ul class="mdc-list mdc-list--two-line mdc-list--avatar-list">
    <li class="mdc-list-item">
        <span class="mdc-list-item__graphic material-icons">info</span>
        <span class="mdc-list-item__text">
            {% trans %}myPagePaymentProfile_2{% endtrans %}
            <span class="mdc-list-item__secondary-text">{{response.values.payment.transaction}}</span>
        </span>
    </li>
    <li role="separator" class="mdc-list-divider"></li>
    <li class="mdc-list-item">
        <span class="mdc-list-item__graphic material-icons">info</span>
        <span class="mdc-list-item__text">
            {% trans %}myPagePaymentProfile_3{% endtrans %}
            <span class="mdc-list-item__secondary-text">{{response.values.payment.transaction}}</span>
        </span>
    </li>
    <li role="separator" class="mdc-list-divider"></li>
    <li class="mdc-list-item">
        <span class="mdc-list-item__graphic material-icons">info</span>
        <span class="mdc-list-item__text">
            {% trans %}myPagePaymentProfile_4{% endtrans %}
            <span class="mdc-list-item__secondary-text">{{response.values.payment.date}}</span>
        </span>
    </li>
    <li role="separator" class="mdc-list-divider"></li>
    <li class="mdc-list-item">
        <span class="mdc-list-item__graphic material-icons">info</span>
        <span class="mdc-list-item__text">
            {% trans %}myPagePaymentProfile_5{% endtrans %}
            <span class="mdc-list-item__secondary-text">{{response.values.payment.status}}</span>
        </span>
    </li>
    <li role="separator" class="mdc-list-divider"></li>
    <li class="mdc-list-item">
        <span class="mdc-list-item__graphic material-icons">info</span>
        <span class="mdc-list-item__text">
            {% trans %}myPagePaymentProfile_6{% endtrans %}
            <span class="mdc-list-item__secondary-text">{{response.values.payment.payer}}</span>
        </span>
    </li>
    <li role="separator" class="mdc-list-divider"></li>
    <li class="mdc-list-item">
        <span class="mdc-list-item__graphic material-icons">info</span>
        <span class="mdc-list-item__text">
            {% trans %}myPagePaymentProfile_7{% endtrans %}
            <span class="mdc-list-item__secondary-text">{{response.values.payment.receiver}}</span>
        </span>
    </li>
    <li role="separator" class="mdc-list-divider"></li>
    <li class="mdc-list-item">
        <span class="mdc-list-item__graphic material-icons">info</span>
        <span class="mdc-list-item__text">
            {% trans %}myPagePaymentProfile_8{% endtrans %}
            <span class="mdc-list-item__secondary-text">{{response.values.payment.currencyCode}}</span>
        </span>
    </li>
    <li role="separator" class="mdc-list-divider"></li>
    <li class="mdc-list-item">
        <span class="mdc-list-item__graphic material-icons">info</span>
        <span class="mdc-list-item__text">
            {% trans %}myPagePaymentProfile_9{% endtrans %}
            <span class="mdc-list-item__secondary-text">{{response.values.payment.itemName}}</span>
        </span>
    </li>
    <li role="separator" class="mdc-list-divider"></li>
    <li class="mdc-list-item">
        <span class="mdc-list-item__graphic material-icons">info</span>
        <span class="mdc-list-item__text">
            {% trans %}myPagePaymentProfile_10{% endtrans %}
            <span class="mdc-list-item__secondary-text">{{response.values.payment.amount}}</span>
        </span>
    </li>
    <li role="separator" class="mdc-list-divider"></li>
    <li class="mdc-list-item">
        <span class="mdc-list-item__graphic material-icons">info</span>
        <span class="mdc-list-item__text">
            {% trans %}myPagePaymentProfile_11{% endtrans %}
            <span class="mdc-list-item__secondary-text">{{response.values.payment.quantity}}</span>
        </span>
    </li>
</ul>

{{-include("@templateRoot/render/my_page/myPage_payment_delete.html.twig")-}}