{% form_theme form "@templateRoot/layout/layout_form_materialDesign.html.twig" %}

<fieldset class="accordion_container">
    <legend>{% trans %}myPageProfilePassword_1{% endtrans %}</legend>
    <p>{% trans %}myPageProfilePassword_2{% endtrans %}</p>
    <button class="mdc-button mdc-button--dense mdc-button--raised button_accordion" type="button">{% trans %}index_9{% endtrans %}</button>
    <div class="accordion">
        <form id="form_myPage_profile_password" action="{{path("myPage_profile_password", {'_locale': urlLocale, 'urlCurrentPageId': urlCurrentPageId, 'urlExtra': urlExtra})}}" method="post" novalidate="novalidate">
            {{form_row(form.passwordOld, {'dense': "", 'styleType': "outlinedTrailing", 'icon': "linear_scale"})}}
            {{form_row(form.password, {'dense': "", 'styleType': "outlinedTrailing", 'icon': "linear_scale"})}}
            {{form_row(form.passwordConfirm, {'dense': "", 'styleType': "outlinedTrailing", 'icon': "linear_scale"})}}

            {{form_widget(form._token)}}
            
            {{form_widget(form.submit, {'dense': "", 'raised': ""})}}
        </form>
    </div>
</fieldset>