{% extends "@templateRoot/layout/layout_module.html.twig" %}

{% block panelId %}panel_id_{{response.module.id}}{% endblock %}
{% block panelClass %}
{% if urlExtra == "user_login" %}user_login{% endif %}
{% endblock %}
{% block moduleHeaderIcon %}
    <i class="material-icons">account_box</i>
{% endblock %}
{% block moduleHeader %}
    {{response.module.label|trans}}
{% endblock %}
{% block moduleContainer %}
    {% if form is null %}
        <p><b>{% trans %}authentication_1{% endtrans %}</b></p>
        <p>{{response.values.user.username}}</p>
        <p><b>{% trans %}authentication_2{% endtrans %}</b></p>
        <p>
            {% for key, value in response.values.roleUserRow %}
                - {{value|trans}}
            {% endfor %}
        </p>
        <p><b>{% trans %}authentication_3{% endtrans %}</b></p>
        <p>{{response.values.dateLastLogin[0]}} [{{response.values.dateLastLogin[1]}}]</p>
        <div class="button_container">
            <a class="mdc-button mdc-button--dense mdc-button--raised" href="{{path("root_render", {'_locale': urlLocale, 'urlCurrentPageId': 1, 'urlExtra': "myPage"})}}" type="button">{% trans %}authentication_4{% endtrans %}</a>
            <a class="mdc-button mdc-button--dense mdc-button--raised" href="{{path("authentication_exit_check", {'_locale': urlLocale, 'urlCurrentPageId': urlCurrentPageId, 'urlExtra': urlExtra})}}" type="button">{% trans %}authentication_5{% endtrans %}</a>
        </div>
    {% else %}
        {% form_theme form "@templateRoot/layout/layout_form_materialDesign.html.twig" %}
        
        <form id="form_authentication" action="{{path("authentication_enter_check", {'_locale': urlLocale, 'urlCurrentPageId': urlCurrentPageId, 'urlExtra': urlExtra})}}" method="post" novalidate="novalidate">
            {{form_row(form._username, {'dense': "", 'styleType': "outlinedTrailing", 'icon': "pets"})}}
            {{form_row(form._password, {'dense': "", 'styleType': "outlinedTrailing", 'icon': "linear_scale"})}}
            
            {% if settingRow['captcha'] == true %}
                {{-include("@templateRoot/include/captcha.html.twig")-}}
            {% endif %}
            
            {{form_widget(form._token)}}
            
            <div class="submit_container">
                {{form_widget(form._remember_me)}}
                {{form_widget(form.submit, {'dense': "", 'raised': ""})}}
            </div>
        </form>
        
        {% if settingRow['website_active'] == true %}
            <div class="link_container">
                {% if settingRow['registration'] == true %}
                    <a class="mdc-typography--caption mdc-theme--on-surface" href="{{path("root_render", {'_locale': urlLocale, 'urlCurrentPageId': 3, 'urlExtra': ""})}}">{% trans %}authentication_6{% endtrans %}</a>
                {% endif %}
                
                {% if settingRow['recover_password'] == true %}
                    <a class="mdc-typography--caption mdc-theme--on-surface" href="{{path("root_render", {'_locale': urlLocale, 'urlCurrentPageId': 4, 'urlExtra': ""})}}">{% trans %}authentication_7{% endtrans %}</a>
                {% endif %}
            </div>
        {% endif %}
    {% endif %}
{% endblock %}
{% block moduleFooter %}{% endblock %}