<div id="language_page_container">
    {% for key, value in response.values.languageRows %}
        {% if (file_exists(urlRoot ~ "/images/templates/" ~ response.values.settingRow['template'] ~ "/lang/" ~ value.code ~ ".png") == true) %}
            <div class="mdc-chip">
                <img class="mdc-chip__icon mdc-chip__icon--leading flag_{{value.code}}" src="{{asset("images/templates/" ~ response.values.settingRow['template'] ~ "/lang/" ~ value.code ~ ".png")}}" alt="{{value.code}}.png"/>
                <div class="mdc-chip__text sort_elemet_data">{{value.code}}</div>
            </div>
        {% else %}
            <div class="mdc-chip">
                <img class="mdc-chip__icon mdc-chip__icon--leading flag_{{value.code}}" src="{{asset("images/templates/" ~ response.values.settingRow['template'] ~ "/lang/empty.png")}}" alt="{{value.code}}.png"/>
                <div class="mdc-chip__text sort_elemet_data">---</div>
            </div>
        {% endif %}
    {% endfor %}
    
    <form id="form_language_page" action="{{path("language_page", {'_locale': urlLocale, 'urlCurrentPageId': urlCurrentPageId, 'urlExtra': urlExtra})}}" method="post" novalidate="novalidate">
        {{form_row(form.codePage)}}

        {{form_widget(form._token)}}
    </form>
</div>
<script>
    var textLanguagePage = {
        'label_1': "{{"languagePage_1"|trans}}"
    };
</script>