<nav class="menu_root_container">
    {% import _self as macro %}
    
    {% if urlExtra == "desktop" %}
        <ul>
            {% for key, value in response.values.pageList %}
                {% if value.show_in_menu == true %}
                    {% if value.only_parent == true %}
                        {% set href = "#" %}
                    {% elseif value.only_link == true %}
                        {% set href = value.link %}
                    {% else %}
                        {% set href = path("root_render", {'_locale': urlLocale, 'urlCurrentPageId': value.id, 'urlExtra': ""}) %}
                    {% endif %}
                    
                    <li class="parent">
                        <a class="target {% if value.children|length > 0 %}target_clean{% endif %}" href="{{href}}">
                            <span>{{value.menu_name}}</span>
                            <i class="material-icons" {% if value.children|length == 0 %}style="visibility: hidden; width: 0;"{% endif %}>keyboard_arrow_down</i>
                        </a>
                        
                        {% if value.children|length > 0 %}
                            <div class="mdc-elevation--z8 parent_content">
                                {{macro.menuRootChildrenDesktop(urlLocale, value.children)}}
                            </div>
                        {% endif %}
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    {% else %}
        {% set loopSpace = "" %}
        
        {% for key, value in response.values.pageList %}
            {% if value.show_in_menu == true %}
                {% if value.only_parent == true %}
                    {% set href = "#" %}
                {% elseif value.only_link == true %}
                    {% set href = value.link %}
                {% else %}
                    {% set href = path("root_render", {'_locale': urlLocale, 'urlCurrentPageId': value.id, 'urlExtra': ""}) %}
                {% endif %}
                
                <a class="mdc-list-item {% if value.children|length > 0 %}target_clean{% endif %}" href="{{href}}">
                    <span>{{value.menu_name}}</span>
                    <i class="mdc-list-item__graphic material-icons parent_icon" {% if value.children|length == 0 %}style="visibility: hidden; width: 0;"{% endif %}>toc</i>
                </a>
                
                {% if value.children|length > 0 %}
                    {{macro.menuRootChildrenMobile(loopSpace, urlLocale, value.children)}}
                {% endif %}
            {% endif %}
        {% endfor %}
    {% endif %}
</nav>

{% macro menuRootChildrenDesktop(urlLocale, pageList) %}
    {% import _self as self %}

    <ul class="children_container">
        {% for key, value in pageList %}
            {% if value.show_in_menu == true %}
                {% if value.only_parent == true %}
                    {% set href = "#" %}
                {% elseif value.only_link == true %}
                    {% set href = value.link %}
                {% else %}
                    {% set href = path("root_render", {'_locale': urlLocale, 'urlCurrentPageId': value.id, 'urlExtra': ""}) %}
                {% endif %}

                <li class="parent">
                    <a class="target" href="{{href}}">
                        <span>{{value.menu_name}}</span>
                        <i class="material-icons" {% if value.children|length == 0 %}style="visibility: hidden; width: 0;"{% endif %}>keyboard_arrow_right</i>
                    </a>
                    
                    {% if value.children|length > 0 %}
                        <div class="mdc-elevation--z8 parent_content">
                            {{self.menuRootChildrenDesktop(urlLocale, value.children)}}
                        </div>
                    {% endif %}
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endmacro %}

{% macro menuRootChildrenMobile(loopSpace, urlLocale, pageList) %}
    {% import _self as self %}
    
    {% set loopSpace = loopSpace ~ "-" %}
    
    <div class="children_container">
        {% for key, value in pageList %}
            {% if value.show_in_menu == true %}
                {% if value.only_parent == true %}
                    {% set href = "#" %}
                {% elseif value.only_link == true %}
                    {% set href = value.link %}
                {% else %}
                    {% set href = path("root_render", {'_locale': urlLocale, 'urlCurrentPageId': value.id, 'urlExtra': ""}) %}
                {% endif %}
                
                <a class="mdc-list-item {% if value.children|length > 0 %}target_clean{% endif %}" href="{{href}}">
                    {{loopSpace}}&nbsp;<span>{{value.menu_name}}</span>
                    <i class="mdc-list-item__graphic material-icons parent_icon" {% if value.children|length == 0 %}style="visibility: hidden; width: 0;"{% endif %}>toc</i>
                </a>

                {% if value.children|length > 0 %}
                    {{self.menuRootChildrenMobile(loopSpace, urlLocale, value.children)}}
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
{% endmacro %}