{% if settingRow['pageComment'] == true %}
    {% if response.values.listHtml is defined and response.values.count > 0 %}
        <div id="pageComment_result">
            
            {{-include("@templateRoot/include/table_and_pagination.html.twig")-}}
            
            <div class="list_result">
                {{response.values.listHtml|raw}}
            </div>
        </div>
    {% endif %}
{% endif %}

{% if form is defined %}
    {% if settingRow['pageComment_active'] == true %}
        {% if app.user %}
            {% form_theme form "@templateRoot/layout/layout_form_materialDesign.html.twig" %}
            
            <form id="form_pageComment" action="{{path("pageComment_save", {'_locale': urlLocale, 'urlCurrentPageId': urlCurrentPageId, 'urlExtra': urlExtra})}}" method="post" novalidate="novalidate">
                {{form_widget(form.type)}}
                
                {{form_row(form.argument, {'dense': "", 'styleType': "outlinedTrailing"})}}
                
                {{form_widget(form._token)}}
                
                {{form_widget(form.submit, {'dense': "", 'raised': ""})}}
                
                <button class="mdc-button mdc-button--dense mdc-button--raised mdc-theme--secondary-bg button_reset" type="button">
                    {% trans %}pageCommentType_3{% endtrans %}
                </button>
            </form>
        {% else %}
            <p>{% trans %}pageComment_1{% endtrans %}</p>
        {% endif %}
    {% else %}
        <p>{% trans %}pageComment_2{% endtrans %}</p>
    {% endif %}
{% endif %}

<script>
    var textPageComment = {
        'label_1': "{{"pageComment_2"|trans}}",
        'label_2': "{{"pageComment_3"|trans}}"
    };
</script>