<div class="upload_chunk">
    <div class="form_row">
        <div class="material_upload">
            <button class="mdc-button mdc-button--dense mdc-button--raised" type="button">
                <span class="material-icons mdc-button__icon">cloud_upload</span>
                <span>{{label}}</span>
            </button>
            <input class="file" type="file" name="file" autocomplete="off" aria-label="label">
        </div>
    </div>
    
    {{-include("@templateRoot/include/progress_bar.html.twig")-}}
    
    <div class="controls">
        <button class="mdc-button mdc-button--dense mdc-button--raised button_start" type="button">
            <i class="material-icons mdc-button__icon">play_arrow</i>
            <span>{% trans %}upload_chunk_1{% endtrans %}</span>
        </button>
        <button class="mdc-button mdc-button--dense mdc-button--raised button_stop" type="button" disabled="disabled">
            <i class="material-icons mdc-button__icon">stop</i>
            <span>{% trans %}upload_chunk_2{% endtrans %}</span>
        </button>
    </div>
    
    <div class="popupWait">
        <i class="material-icons close" disabled="disabled">close</i>
        <div class="content">
            <p>{% trans %}upload_chunk_3{% endtrans %}</p>
            <p class="status"></p>
            
            {{-include("@templateRoot/include/progress_bar.html.twig")-}}
            
        </div>
        <div class="result"></div>
    </div>
</div>
<script>
    var textUploadChunk = {
        'label_1': "{{"upload_chunk_4"|trans}}",
        'label_2': "{{"upload_chunk_5"|trans}}"
    };
</script>